---
# setup following in /etc/ansible/host_vars/localhost
# this_hostname: "..."
- hosts: localhost
  vars:
    nginx_le_configs_directory: /opt/nginx-letsencrypted/data/configs
    nginx_le_extra_mounts:
      - "/home/django/sockets:/home/django/sockets"
  roles:
    - docker
    - nginx
    - role: uwsgi_app
      vars:
        #emperor_port: 2023
        #emperor_port_to: /home/django/sockets/equistatue.sock
        #project_caddyfile_template: "{{ playbook_dir }}/templates/Caddyfile"
        uwsgi_config_template: false
        web_server: nginx
        project_nginx_config_filename: default.conf
        project:
          name: equistatue
          domain: statues.whinn.ie
          static_url: /static
          touch_logs: 
            - django.log
            - uwsgi.log
          files_to_check_presence: 
            - config/settings_local.py
    - role: deploy-via-git-pull
      vars:
        deployment_git_workdir: "{{ playbook_dir }}"
        deployment_skip_checkout_on_existing_dir: yes
        deployment_command: ./setup.sh
        deployment_log_prefix: setup
        deployment_project: statues
