beautifulsoup4
psycopg2-binary
selenium
Pillow
djangorestframework
pandas
numpy
django-pandas
seaborn
matplotlib
ipykernel
django-random-queryset
django-bootstrap-v5
django-js-error-hook
django-galleryfield

git+https://github.com/phoebebright/django-keycloak.git@django4