{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "About" %}{% endblock %}

{% block main %}
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=997102350626725&autoLogAppEvents=1" nonce="rAVFBHz2"></script>

<main>
  <h1 class="visually-hidden">Why?</h1>

  <div class="px-4 py-2 my-2 text-center">
    <img class="d-block mx-auto mb-4" src="{% static "images/statue1.jpg" %}" alt="" width="300" >
    <h1 class="display-5 fw-bold">What's it all about?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">I got curious about statues of horses when looking at stereotypes of dressage horses using DALL-E and StableDiffusion (another story!).  We seem to like horses with highly arched necks and I wondered if this was a recent preference or historical?  Then I found Kees Van Tilburg's website with photographs and descriptions of most of the known equestrian statues of the world and so I've gone geek and am doing some research.  Can you help?</p>
        <p class="lead mb-4">I want to first see if people have a gut preference for the different ways horses are represented in statues. If you can spare a minute, click the Survey 1 button below and you will be shown 10 images of statues with a question about whether you like this respresentation of the horse or not. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/like_dislike/" class="btn btn-primary btn-lg px-4 gap-3">Survey 1</a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Checkout Kees Van Tilburg's Equestrian Statues Webite</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">An amazing archive of 1257 equestrian statues with photos and descriptions of each of the statues. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button a href="equestrianstatue.org"  class="btn btn-primary btn-lg px-4 me-sm-3">EquestrianStatue.org</button>

      </div>
    </div>

  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Do you have any ideas for questions to add to the survey?</h1>

      </div>
              <div class="col-lg-6">
 <p>I've put my email at the end of Survey 1 to try and avoid being spammed, so take the survey and then let me know your thoughts.</p>
              </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Subscribe to get news</h1>
        <p class="col-lg-10 fs-4">If you would like the results of this survey or an invitation to participate in round 2, just leave your email.  I won't share it with anyone and emails will be deleted at the end of this project.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" >
            {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="email">
            <label for="floatingInput">Email address</label>
          </div>
<p>
           <button class="btn btn-success border-rad" type="submit" >Subscribe</button>
</p>

<div class="fb-share-button" data-href="https://statues.whinn.ie" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstatues.whinn.ie%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share on Facebook</a></div>


        </form>
      </div>
    </div>
  </div>




  <div class="b-example-divider mb-0"></div>


</main>

{% endblock %}