{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "How we use Cookies" %}{% endblock %}


{% block outer %}


    <div class="container mb-5">

        <div id="cwrapper">
            <style>
                #cwrapper p {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            </style>
            <h1>Cookies and {{SITE_NAME}}</h1>

            <h3 class="page_title">Definition and uses of cookies in this site</h3>
            <p>A cookie is a small text file that’s stored on your computer or mobile device when you visit a website. We use them to:</p>

            <ul>

                    <li>Keep you logged in</li>
                    <li>Remember your selection for cookie preferences</li>


            </ul>


            <h3>What kind of cookies does this website use?</h3>

            <p>First party cookies: These are set by the website when you use the calculator. Only this website can read them.</p>

            <p>Session cookies: These are stored while you’re browsing. They get deleted from your device when you close your browser e.g. Internet Explorer or Safari.</p>

            <p>Third party cookies (Google Analytics): These are set by someone other than the owner of the website you’re visiting.</p>

            <p>Google Analytics is the tool which helps website and the owners of applications to understand the way in which their visitors interact with them. GA can use some cookies to collect statistical information regarding the user behaviour without personally identifying the users. We do not use the remarketing options of Google Analytics.</p>

            <p>For more information on the cookies Google Analytics uses see <a href="https://developers.google.com/analytics/devguides/list-group/analyticsjs/cookie-usage" target="_blank">https://developers.google.com/analytics/devguides/list-group/analyticsjs/cookie-usage</a></p>

            <p>If you do not want Google collecting your data, you can opt-out.  Find out more here: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>


            <h3>Rejection or elimination of cookies</h3>

            You can allow, block or delete the cookies installed on your computer through your browser’s settings options, in which case you may not be able to access certain areas of the website. If you wish to know how to manage your browser’s cookies, please access the following links:

            <ul class="browsers-list">
                <li>
                    <a href="https://support.google.com/chrome/answer/95647?hl=en">
                        Google Chrome
                    </a>
                </li>
                <li>
                    <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">
                        Firefox
                    </a>
                </li>
                <li>
                    <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies#">
                        Internet Explorer
                    </a>
                </li>
                <li>
                    <a href="https://support.apple.com/kb/PH17191?locale=es_ES&amp;viewlocale=en_US">
                        Safari
                    </a>
                </li>
                <li>
                    <a href="http://help.opera.com/Windows/11.50/en/cookies.html">
                        Opera
                    </a>
                </li>
            </ul>

            <p>If you wish to have more information regarding the use of cookies on this site, you can <a href="{% url "contact" %}">request it here</a>.</p>

<p><a href="/" class="btn btn-primary">Done</a></p>


        </div>
    </div>


{% endblock %}