{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Privacy Policy" %}{% endblock %}

{% block main %}

    {% csrf_token %}

    <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            <span class="fs-4">Equestrian Statues - What do you Like?</span>
        </a>
    </header>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap" id="image">
                    <div class="card-body">
                        <h5 class="card-title">Do you like the horse in this statue?</h5>
                        <p class="card-text">
                    <button type="button" class="btn btn-success like_dislike " data-like="1" style="width:30%;">Yes</button>
                    <button type="button" class="btn btn-info like_dislike" data-like="0" style="width:30%;">Don't Know</button>
<button type="button" class="btn btn-danger like_dislike" data-like="-1" style="width:30%;">No</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

{% block js %}
    <script>


        const images = [{% for statue in statues %}"{{ statue.main_image_url }}",{% endfor %}];
        const images_pk = [{% for statue in statues %}"{{ statue.pk }}",{% endfor %}];
        let current_pk = 0;


        $(document).ready(function() {
            // Define variables for the images and ratings


            // Get references to the HTML elements
            $("#image").attr('src', images[0]);
            current_pk = images_pk[0];


            // Set up event listener for the Next Image button
            $(".like_dislike").click(function() {

                 $("#image").fadeOut();

                update_statue(current_pk, {like: $(this).data('like')});

                // Show the next image or finish rating
                if (images.length > 0) {

                    $("#image").attr("src", images.shift());
                     $("#image").fadeIn();
                    current_pk = images_pk.shift();

                } else {
                    document.location.href = "/like_dislike/done/";
                }
            });
        });





        function update_statue(pk, payload) {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                method: "PATCH",
                url:  "/api/statues/" + pk +"/like_dislike/",
                data: payload,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
            });

        }
    </script>
{% endblock %}