{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Privacy Policy" %}{% endblock %}

{% block outer %}


    <div class="container mb-5">
        <div class="plaintext">
            <h1>GDPR and Privacy Statement for {{SITE_NAME}}</h1>
            <h3>Overview</h3>



<p>We at Vivid Logic Limited (“DressageCalculator.com and Skor.ie”) with a registered address situated at Kippagh,Dunmanway, Co Cork recognise the importance of protecting personal and confidential information in all that we do.</p>

            <p>When you engage DressageCalculator.com and Skor.ie to provide services to you, you are providing us with permission to hold information and your Personal Data for our records.  DressageCalculator will process your Personal Data in keeping with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 (“General Data Protection Regulation” or, “GDPR”).</p>

<p>For the purposes of the GDPR, we are a data controller in respect of personal information collected through our website and any social media accounts such as Facebook, any blogs etc that post a link to this Privacy Policy, and a data processor for information collected through the Services that we provide.</p>

<p>By visiting our website(s)/app, and/or signing up to receive communications or Services from us you are accepting the terms of this Privacy Policy.</p>

<p>Accordingly, this GDPR and Privacy Statement sets out the basis on which any Personal Data we collect from you, or that you provide to us, will be processed by us.</p>

<p>Data Representative: Jacqueline Walsh is our data protection representative and she can be contacted at the above address or by email info at skor.ie.</p>

<p>Purposes - Legal basis for processing and retention of your Personal Data:</p>

<p>Your Personal Data will be retained by us only for as long as necessary to fulfil the above purposes in accordance with established best practice and any relevant contractual obligations.</p>

<p>In addition to the above, we have a legitimate interest in marketing and promoting our business and its services to you and therefore we shall use your Personal Data in that regard also  you can unsubscribe/opt out of receiving such communications at any time.</p>

<h3>Utilisation of Personal Data and Disclosure:</h3>

<p>We shall keep your Personal Data, information and documents confidential except where your Personal Data may be required to be disclosed by Law. Any such disclosure shall be done strictly and only when and where necessary and required.</p>

<p>We also use third party professional and other service providers including specialist IT service providers, which will involve some access to files. Such third parties may only process your Personal Data for the purposes of providing us with their services and for no other purpose.</p>

<p>We do not transfer Personal Data outside of the EEA and, where we are required to do so we will put in place all appropriate safeguards such as approved standard contractual clauses with the recipient.</p>

<h3>Your Data Protection Rights:</h3>

<p>You have the following rights under GDPR with respect to your Personal Data:</p>

<p>
            <ul>
            <li>You have the right to request a copy of your Personal Data</li><li>You have the right to rectification of inaccurate Personal Data that we may have recorded about you</li><li>You have a right to the erasure of your Personal Data (this is called the &ldquo;right to be forgotten&rdquo;) when we no longer have further justification for holding it</li><li>You have the right to objection to processing of your Personal Data which is being done on the basis of your legitimate interests, such as us processing for marketing purposes</li><li>You have the right to restrict the processing of your Personal Data</li><li>You have the right to be provided with a copy of your Personal Data in machine readable format or to have it transferred directly to another Data Controller (this is called &ldquo;Data Portability&rdquo;)</li></ul></p>

<h3>Processing</h3>

<p>We will use personal data relating to you for the purposes of:</p>
<ul>
    <li>dealing with any queries that you have submitted to us via our website</li>
    <li>processing data as a result of you using our Services</li>
    <li>improving and developing our website</li>
    <li>carrying out research and user surveys</li>
    <li>sending you promotional and marketing materials, subject to any preferences that you express when we collect your contact details or subsequently. You can opt out of receiving promotional and marketing materials from us at any time, using the Unsubscribe button on your <a href="{% url "user_profile" %}">Profile Page</a></li>
    <li>generating and analysing statistics regarding usage of our website and SaaS platform, including the frequency of use of individual pages (where possible, personal data will be anonymised before being used for this purpose)</li>
    <li>fraud prevention, investigation and detection</li>
    <li>establishing, exercising or defending legal claims</li>
    <li>providing information to our professional advisors</li>
</ul>


<p>The legal bases on which we process your personal data are as more particularly set out below:</p>

<p>a) our legitimate interests in conducting our business b) compliance with a legal or regulatory obligation that applies to us c) the performance of a contract with you or in order to take steps at your request prior to entering into a contract</p>

<h3>Browsing our website</h3>

<p>As an anonymous visitor to our website we collect no personally identifiable information about you, apart from information which you volunteer (please see more on this in the next section below).</p>

<p>We use temporary third party Google Analytics to collect an anonymous record of your site page views and to recognize return visits (also anonymously) using a unique cookie that Google Analytics in your browser. We use the collected page-view information to understand how visitors use the website and to help us improve access to its information and functionality.</p>

<h3>Submitting website forms</h3>

<p>If you submit your details on a Contact Us form, or any other similar form we may implement in the future, we will save your personal details in our Customer Relationship Management (CRM) database.</p>

<p>We also record this activity with a temporary third party Google Analytics cookies to provide a best estimate of where you came from before you visited our website e.g. a Google advertisement, Ad-campaign, a search listing, or an external link to our site.</p>

<p>We may use your information to contact you again in future if we believe we have an offer that may be relevant to you. We may also analyse collected contact information in aggregate form to better inform our future marketing efforts.</p>

<p>We record your origin in order to allow us analyse the effectiveness of our marketing and search engine optimisation efforts.</p>

<p>You may cease receiving our newsletters at any time by using the &ldquo;unsubscribe&rdquo; link included in every issue sent. Your email address may be retained to ensure you no longer receive communications, unless you choose to actively re-subscribe.</p>

<h3>Data storage, sharing, rectification</h3>

<p>Personal information, such as collected on our company website, is securely stored in our servers and the servers of selected third parties (like Google). We will never share personal information with other third parties, except where we are required to do so by law or for fraud prevention, investigation and detection, or, for establishing, exercising or defending legal claims.</p>

<p>We will not hold your personal data for longer than is necessary.</p>

<p>We shall retain your personal data for as long as we need it for the purposes described in this privacy policy, or to comply with our obligations under applicable law, or, to provide you with our services, and, if relevant, to deal with any claim or dispute that might arise between you and us.</p>

<p>We and our providers employ industry-accepted levels of security on all data storage and transmission. This includes the use of HTTPS/TLS (Transport Layer Security encryption) when interacting with secure areas of our website, and SMTP/TLS (email encryption) when interacting via email.</p>

<p>Personal information stored on any portable media (for example portable backup media or laptops) is subject to encryption (Full Disk Encryption.</p>

<p>Your contact, billing and other details will never be shared or stored with third parties, except where we are legally obliged to do so, or where we make use of an external service to operate some aspect of our business, such as credit card processing, or CRM. In such instances, the storage of your data on third party systems will be solely for the purpose of operating our business to provide you with the contracted service, and never for the direct benefit of the third party, who will never have any other right of use to your data.</p>

<p>Where we make use of an external service in this way, we will require at least the same commitment to the protection of your data as we ourselves implement.</p>

<p>You have the right to request that any inaccurate data that is held about you is corrected, or if we have incomplete information you may request that we update the information to make it complete.  You can do this by sending us a message directly using the <a href="{% url "contact" %}">Contact Us Page</a>.</p>

<p>In addition, and as also previously noted, you have the right to request that we no longer process your personal data for particular purposes, or to object to our processing of your personal data for particular purposes</p>

<p>If you are dissatisfied with how we process your Personal Data we ask you to contact us so that we can quickly rectify the situation &ndash; if you do not feel we have rectified the situation then you have the right to submit a complaint to the Data Protection Commission (www.dataprotection.ie).</p>

<p>If you do not provide us with your information for the purposes described above, we cannot provide you with our services or send you our newsletter.</p>

<p>By instructing and engaging with us you are agreeing and consenting to the use of your Personal Data under the terms of this GDPR Privacy Statement</p>



            <p>Find out more about cookies and how you opt out <a href="{% url "cookies" %}" class="link-primary">Here</a> </p>

            <br />
            <button  class="btn btn-primary"
                     onCLick="history.back()">Back...</button>
        </div>
    </div>
{% endblock %}