{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Score Statue{% endblocktrans %}{% endblock %}

{% block main %}

    <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center ">

            <span class="fs-4">What about this one?</span>
        </a>
    </header>
<form>
    {% csrf_token %}

    <input id="pk" type="hidden" value="{{ statue.pk }}">
    <div class="row ">
        <div class="col">
            <h3>{{ statue.name }}</h3>
            <p>{{ statue.scultor }}, {{ statue.year }},  {{ statue.country }}, {{ statue.location }}</p>
            <p>ID: {{ statue.pk }}</p>
        </div>

        <div class="row align-items-md-stretch">

            <div class="col-md-6">
                <div class="h-100 p-5 text-white rounded-3">
                    {% if statue.main_image_url %}
                        <img src="{{ statue.main_image_url }}" width="100%">
                    {% endif %}
                        {% if user.is_staff %}
                        <p>
                            <a href="{{ statue.details_url }}" class="btn btn-primary"  onclick="$(this).closest('tr').addClass('highlight');window.open('{{ statue.details_url }}', '{{ statue.name }}', 'width=1500,height=1500'); return false;">View Statue...</a></p>
                        <div class="mb-3">
                            <label for="main_image" class="form-label">Main Image Address</label>
                            <input id="main_image" type="url" class="form-control main_image" value="{{ statue.main_image_url }}">
                        </div>
                        <div class="mb-3">
                            <p><a href="#" target="_blank">Skip - No image available</a></p>
                        </div>

                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <div class="mb-3">
                        <label for="servant-partner" class="form-label">Servant=0 Partner=10</label>
                        <input type="range" class="form-range" min="0" max="10" id="servant-partner" value="{% if statue.servant_partner < 11 %}{{ statue.servant_partner }}{% endif %}" >
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url "score_statue" %}" class="btn btn-primary" type="button">Next...</a>

    </div>

    </form>
    </div>
{% endblock %}

{% block js %}
    <script>



        $(document).on("change", ".main_image", function() {
            var pk = $("#pk").val();
            var payload = {'main_image_url': $(this).val()};
            update_statue(pk, payload);

        });

        $(document).on("change", "#servant-partner", function() {
            var pk = $("#pk").val();
            var payload = {'servant_partner': $(this).val()};
            add_score(pk, payload);
        });

        $(document).on("change", ".skip", function() {
            var pk = $("#pk").val();
            var payload = {'skip': this.checked};
            update_statue(pk, payload);
        });

        function update_statue(pk, payload) {

            $.ajax({
                method: "PATCH",
                url:  "/api/statues/" + pk +"/",
                data: payload,

            });

        }

        function add_score(pk, payload) {
            $.ajax({
                method: "POST",
                url:  "/api/statues/" + pk +"/add_score/",
                data: payload

            });

        }
    </script>
{% endblock %}