{{ project.domain }} {

  {% if project.static_url is defined %} 
    handle_path {{ project.static_url }}/* {
      root * {{ project_shared_static_dir }}
      fileserver
    }
  {% endif %}

  reverse_proxy :{{ emperor_port }}
}
